@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
@mixin btn {

    transition: all .3s ease;
        &:link,
        &:visited {
            color: $color-primary;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $color-primary;
            padding: 3px;
            font-size: $default-font-size;
        }

        &:hover {
            color: $color-white;
            background-color: $color-primary;
            box-shadow: 0 1rem 2rem (rgba($color-black, .15));
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: 0 .5rem 1rem (rgba($color-black, .15));
            transform: translateY(0)
        }
}

@mixin component-boxshadow {
   box-shadow: 0 2.5rem 4rem rgba($color-black, .4);

}
